<nav class="navbar navbar-expand-lg" style="background-color: #F9F9F8; border-bottom: 0.1px solid #e0e0df; width: 98vw; margin: 0 auto;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/logo.webp" alt="Logo" style="height:50px; width:50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: none; background: none;">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" id="navbar-links">
          <li class="nav-item">
            <a class="nav-link <%= activePage === 'home' ? 'active' : '' %>" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= activePage === 'dashboard' ? 'active' : '' %>" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= activePage === 'features' ? 'active' : '' %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Features
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item <%= activePage === 'expense' ? 'active' : '' %>" href="#expense">Expense</a></li>
              <li><a class="dropdown-item <%= activePage === 'reports' ? 'active' : '' %>" href="#report">Reports</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= activePage === 'settings' ? 'active' : '' %>" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item <%= activePage === 'logout' ? 'active' : '' %>" href="/logout">Logout</a></li>
              <li><button class="dropdown-item" id="delete-button">Delete Profile</button></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  